! main colors {{
*foreground:  #d498c2
*background:  #03030A

! black
*color0:  #03030A
*color8:  #AB87AB

! red
*color1:  #D974FE
*color9:  #D974FE

! green
*color2:  #4D4DA8
*color10:  #4D4DA8

! yellow
*color3:  #A066CF
*color11:  #A066CF

! blue
*color4:  #729AFC
*color12:  #729AFC

! magenta
*color5:  #41B7EF
*color13:  #41B7EF

! cyan
*color6:  #9898FB
*color14:  #9898FB

! white
*color7:  #F5C2F5
*color15:  #F5C2F5
! }}

! URxvt {{
URxvt*font: xft:MonteCarlo:size=12
URxvt*boldFont: xft:MonteCarlo:size=12
URxvt.italicFont: xft:MonteCarlo:size=12
URxvt.boldItalicFont: xft:MonteCarlo:size=12
URxvt.geometry: 80x30
URxvt.saveLines: 10000
URxvt.cutchars: "()*,<>[]{}|''"
URxvt.perl-ext-common: default,matcher,searchable-scrollback,selection-to-clipboard
URxvt.selection-autotransform.0: s/^([^:[:space:]]+):(\\d+):?$/+$2 \\Q$1\\E/
URxvt.skipBuiltinGlyphs: false
URxvt.url-launcher: /usr/bin/xdg-open
! URxvt.internalBorder: 10 - 10px padding
URxvt*colorUL: #41B7EF
URxvt.scrollBar: false
URxvt.visualBell: true
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.cursorColor:#4D4DA8
URxvt*title: ricu~
URxvt*lineSpace: -1
URxvt.imLocale: en_IE.UTF-8
! }}

! Font settings {{
Xft.hintstyle:              hintfull
Xft.hinting:                1
Xft.antialias:              0
Xft.rgba:                   rgb
Xft.lcdfilter:              lcddefault
Xft.dpi: 96
! }}
